[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = git@github.com:sriharisundar/hugo-coder.git
