.list ul li {
  display: block !important;
}

.list ul li .date {
  display: inline !important;
  width: auto !important;
  flex: none !important;
  text-align: left !important;
  margin-right: 1rem !important;
}

.list ul li .title {
  display: inline !important;
  flex: none !important;
  color: #005bbb !important;
}

.social-icon-img {
  width: 2em;
  height: 2em;
  vertical-align: -0.125em;
  display: inline-block;
}

.social-icon-dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body.colorscheme-auto .social-icon-light {
    display: none;
  }
  body.colorscheme-auto .social-icon-dark {
    display: inline-block;
  }
}

body.colorscheme-dark .social-icon-light {
  display: none;
}

body.colorscheme-dark .social-icon-dark {
  display: inline-block;
}
