---
layout: default
---
<div class="post">
    <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="post-date">Posted on {{ page.date | date: "%B %-d, %Y" }}
        {% if page.author %}by {{ page.author }}{% else %}{% if site.author.name %}by {{ site.author.name }}{% endif %}{% endif %}
        {% if page.location %} ({{ page.location }}){% endif %}</p>

    {% if page.shortsummary %}
    <p class="post-summary">{{ page.shortsummary }}</p>
    {% endif %}

    {% if page.labels %}
    <p class="post-meta">Labels: {% for label in page.labels %}{{ label }}&nbsp;{% endfor %}</p>
    {% endif %}

    </header>

    {{ content }}

    {% include comments.html %}
</div>
